BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=7048929478
MODERATOR_IDS=
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=<app-name>
MONGODB_DB_NAME=telegram_media_bot
REQUIRED_CHANNELS=@your_public_channel
ENABLE_PERIODIC_BACKUP=true
BACKUP_INTERVAL_MINUTES=60
BACKUP_DIRECTORY=backups
RATE_LIMIT_WINDOW_SECONDS=15
RATE_LIMIT_MAX_EVENTS=12
RATE_LIMIT_EXEMPT_STAFF=true
